<div class="card-header">
    <a href="/users/general" ><i class="fa fa-arrow-circle-o-left"> Quản lý tài khoản</i> </a>
    <ul class="nav nav-tabs card-header-tabs float-right">
        <li class="nav-item ">
            <a class="nav-link <%=(active=='info'?'active':'')%>" href="/users/info">Thông tin cá nhân</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link <%=(active=='address'?'active':'')%>" href="/users/address">Địa chỉ</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link <%=(active=='password'?'active':'')%>" href="/users/update_password">Đổi mật khẩu</a>
        </li>
    </ul>
</div>