<div class="search_area zoom-anim-dialog mfp-hide" id="test-search">
    <div class="search_box_inner">
        <form action="/products/all" method="get" id="form_product">
        <h3>Tìm kiếm</h3>
        <div class="input-group">
            <input type="text" class="form-control tags" name="keywords"  placeholder="Nhập sản phẩm cần tìm ....">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="icon icon-Search"></i></button>
            </span>
        </div>
        </form>
    </div>
</div>