<div class="wrapper">
    <div class="box">
    <h1>500</h1>
    <h2 style="margin-top:200px" ><%= message %></h2>
    <h2 class="text-left"><%= error.status %></h2>
    <pre class="text-left"><%= error.stack %></pre>
    <p>&#58;&#40;</p>
    <p><a href="/">Quay lại trang chủ </a></p>
    </div>
</div>
<link href="../../../css/error_500.css" rel="stylesheet">