
<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <h3><%=info.name%></h3>
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/" class="disabled-link">Giới thiệu</a></li>
                <li><a href="/" class="disabled-link"><%=info.name%></a></li>
            </ul>
        </div>
    </div>
</section>
<section class="product_area" style="padding:50px 0px;">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="content_introduce">
                    <%- info.content%>
                </div>
            </div>
        </div>
    </div>
</section>

