
<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <h3>Đăng ký bán hàng</h3>
        </div>
    </div>
</section>
<section class="main_blog_area p_100">
    <div class="container">
        <div class="card-deck">
            <div class="card">
              <img class="card-img-top mx-auto d-block"  src="../../img/shopping-girl-icon.png" style="width:150px;" alt="Bán Hàng Có Thương Hiệu">
              <div class="card-body">
                <h5 class="card-title text-center font-weight-bold">Bán Hàng Có Thương Hiệu</h5>
                <p class="card-text">- Bạn là chủ thương hiệu hay nhà phân phối chính hãng tại Việt Nam</p>
                <p class="card-text">- Tham gia độc quyền các chương trình khuyến mãi</p>
                <p class="card-text">- Chỉ thu phú hoa hồng khi bán được hàng</p>
                <a href="/shop/resgister_sell_trademark" class="pink_more btn btn-block text-white" style="font-size: 25px;">Đăng Ký Ngay</a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top mx-auto d-block"  src="../../img/shop-icon.png" style="width:150px;" alt="Cửa Hàng Trong Nước">
              <div class="card-body">
                <h5 class="card-title text-center font-weight-bold">Cửa Hàng Trong Nước</h5>
                <p class="card-text">- Bạn là cá nhân, hộ gia đình hay công ty ở Việt Nam</p>
                <p class="card-text">- Không cần giấy phép kinh doanh và thủ tục đăng ký thật đơn giản</p>
                <p class="card-text">- Không thu phí khi bán được hàng</p>
                <a href="/shop/resgister_sell_domestic" class="pink_more btn btn-block text-white" style="font-size: 25px;">Đăng Ký Ngay</a>
              </div>
            </div>
            <!-- <div class="card">
              <img class="card-img-top mx-auto d-block"  src="../../img/Shop-Iconmart-icon.png" style="width:150px;" alt="Cửa Hàng Ngoài Nước">
              <div class="card-body">
                <h5 class="card-title text-center font-weight-bold">Cửa Hàng Ngoài Nước</h5>
                <p class="card-text">- Bạn là doanh nghiệp đang hoạt động ở nước ngoài</p>
                <p class="card-text">- Giao hàng dễ dàng với chung tâm phân phối ở Viêt Nam</p>
                <p class="card-text">- Chỉ thu phú hoa hồng khi bán được hàng</p>
                <a  href="/shop/resgister_sell_foreign" class="pink_more btn btn-block text-white" style="font-size: 25px;">Đăng Ký Ngay</a>
              </div> -->
            </div>
        </div>
    </div>
</section>